Create Database SaowariFi
GO
USE [SaowariFi]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 7/13/2026 12:27:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdminNotificationPreference]    Script Date: 7/13/2026 12:27:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminNotificationPreference](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AdminUserId] [int] NOT NULL,
	[CompanyId] [int] NOT NULL,
	[IsEnabled] [bit] NOT NULL,
 CONSTRAINT [PK_AdminNotificationPreference] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Banner]    Script Date: 7/13/2026 12:27:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banner](
	[BannerId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NULL,
	[ImageUrl] [nvarchar](500) NOT NULL,
	[LinkUrl] [nvarchar](500) NULL,
	[Position] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[SizeTemplate] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Banner] PRIMARY KEY CLUSTERED 
(
	[BannerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 7/13/2026 12:27:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking](
	[BookingID] [int] IDENTITY(1,1) NOT NULL,
	[BookingCode] [nvarchar](20) NOT NULL,
	[UserID] [int] NOT NULL,
	[ScheduleID] [int] NOT NULL,
	[PassengerName] [nvarchar](150) NOT NULL,
	[PassengerPhone] [nvarchar](20) NOT NULL,
	[PassengerNID] [nvarchar](30) NULL,
	[BaseAmount] [decimal](10, 2) NOT NULL,
	[DiscountAmount] [decimal](10, 2) NOT NULL,
	[FinalAmount] [decimal](10, 2) NOT NULL,
	[DiscountID] [int] NULL,
	[BookingStatusId] [int] NULL,
	[BookingDate] [datetime2](7) NOT NULL,
	[CancelledAt] [datetime2](7) NULL,
	[CancelReason] [nvarchar](500) NULL,
	[SeatClassId] [int] NOT NULL,
	[BoardingPoint] [nvarchar](200) NULL,
	[ProcessingFeeAmount] [decimal](10, 2) NOT NULL,
	[VATAmount] [decimal](10, 2) NOT NULL,
	[CancellationOtp] [nvarchar](10) NULL,
	[CancellationOtpExpiry] [datetime2](7) NULL,
 CONSTRAINT [PK_Booking] PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookingSeats]    Script Date: 7/13/2026 12:27:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingSeats](
	[BookingSeatId] [int] IDENTITY(1,1) NOT NULL,
	[BookingId] [int] NOT NULL,
	[SeatId] [int] NOT NULL,
 CONSTRAINT [PK_BookingSeats] PRIMARY KEY CLUSTERED 
(
	[BookingSeatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookingStatuses]    Script Date: 7/13/2026 12:27:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingStatuses](
	[BookingStatusId] [int] IDENTITY(1,1) NOT NULL,
	[BookingStatusName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_BookingStatuses] PRIMARY KEY CLUSTERED 
(
	[BookingStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Company]    Script Date: 7/13/2026 12:27:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company](
	[CompanyID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](150) NOT NULL,
	[CompanyTypeId] [int] NOT NULL,
	[ContactEmail] [nvarchar](150) NOT NULL,
	[ContactPhone] [nvarchar](20) NOT NULL,
	[Address] [nvarchar](300) NULL,
	[LogoURL] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[TicketBackgroundOpacity] [decimal](3, 2) NOT NULL,
	[TicketBackgroundUrl] [nvarchar](500) NULL,
 CONSTRAINT [PK_Company] PRIMARY KEY CLUSTERED 
(
	[CompanyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CompanyTypes]    Script Date: 7/13/2026 12:27:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompanyTypes](
	[CompanyTypeId] [int] IDENTITY(1,1) NOT NULL,
	[CompanyTypeName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_CompanyTypes] PRIMARY KEY CLUSTERED 
(
	[CompanyTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DepartureLocation]    Script Date: 7/13/2026 12:27:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DepartureLocation](
	[DepartureLocationID] [int] IDENTITY(1,1) NOT NULL,
	[ScheduleID] [int] NOT NULL,
	[LocationID] [int] NOT NULL,
	[Time] [time](7) NOT NULL,
 CONSTRAINT [PK_DepartureLocation] PRIMARY KEY CLUSTERED 
(
	[DepartureLocationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discount]    Script Date: 7/13/2026 12:27:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discount](
	[DiscountID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyId] [int] NOT NULL,
	[RouteId] [int] NULL,
	[VehicleTypeId] [int] NULL,
	[DiscountName] [nvarchar](100) NOT NULL,
	[DiscountTypeId] [int] NOT NULL,
	[DiscountValue] [decimal](10, 2) NOT NULL,
	[MinTicketAmount] [decimal](10, 2) NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CouponCode] [nvarchar](50) NULL,
 CONSTRAINT [PK_Discount] PRIMARY KEY CLUSTERED 
(
	[DiscountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiscountTypes]    Script Date: 7/13/2026 12:27:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiscountTypes](
	[DiscountTypeId] [int] IDENTITY(1,1) NOT NULL,
	[DiscountTypeName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DiscountTypes] PRIMARY KEY CLUSTERED 
(
	[DiscountTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DriverInformtions]    Script Date: 7/13/2026 12:27:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DriverInformtions](
	[DriverInformtionId] [int] IDENTITY(1,1) NOT NULL,
	[LicenceNumber] [nvarchar](150) NOT NULL,
	[licenceExpDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_DriverInformtions] PRIMARY KEY CLUSTERED 
(
	[DriverInformtionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Location]    Script Date: 7/13/2026 12:27:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Location](
	[LocationID] [int] IDENTITY(1,1) NOT NULL,
	[LocationName] [nvarchar](100) NOT NULL,
	[LocationCode] [int] NOT NULL,
	[Latitude] [decimal](10, 7) NULL,
	[Longitude] [nvarchar](60) NULL,
	[District] [nvarchar](100) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Location] PRIMARY KEY CLUSTERED 
(
	[LocationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 7/13/2026 12:27:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Message] [nvarchar](500) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[Icon] [nvarchar](100) NOT NULL,
	[ColorClass] [nvarchar](100) NOT NULL,
	[IsRead] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CompanyId] [int] NULL,
	[EntityId] [int] NULL,
	[EntityType] [nvarchar](50) NULL,
 CONSTRAINT [PK_Notifications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 7/13/2026 12:27:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[BookingId] [int] NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[DiscountAmount] [decimal](10, 2) NOT NULL,
	[PaymentMethodId] [int] NOT NULL,
	[TransactionID] [nvarchar](100) NULL,
	[PaymentStatusId] [int] NOT NULL,
	[PaidAt] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ProcessingFeeAmount] [decimal](10, 2) NOT NULL,
	[VATAmount] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_Payment] PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentCancels]    Script Date: 7/13/2026 12:27:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentCancels](
	[PaymentCancelId] [int] IDENTITY(1,1) NOT NULL,
	[VerificationCode] [nvarchar](100) NOT NULL,
	[PaymentId] [int] NOT NULL,
 CONSTRAINT [PK_PaymentCancels] PRIMARY KEY CLUSTERED 
(
	[PaymentCancelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentMethod]    Script Date: 7/13/2026 12:27:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMethod](
	[PaymentMethodId] [int] IDENTITY(1,1) NOT NULL,
	[PaymentMethodName] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[LogoUrl] [nvarchar](500) NULL,
	[ProcessingFeePercent] [decimal](5, 2) NOT NULL,
	[VATPercent] [decimal](5, 2) NOT NULL,
 CONSTRAINT [PK_PaymentMethod] PRIMARY KEY CLUSTERED 
(
	[PaymentMethodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[paymentStatuses]    Script Date: 7/13/2026 12:27:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[paymentStatuses](
	[PaymentStatusId] [int] IDENTITY(1,1) NOT NULL,
	[PaymentStatusName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_paymentStatuses] PRIMARY KEY CLUSTERED 
(
	[PaymentStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Refund]    Script Date: 7/13/2026 12:27:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Refund](
	[RefundID] [int] IDENTITY(1,1) NOT NULL,
	[BookingId] [int] NOT NULL,
	[PaymentId] [int] NOT NULL,
	[RequestedAt] [datetime2](7) NOT NULL,
	[RefundPercentage] [decimal](5, 2) NOT NULL,
	[RefundAmount] [decimal](10, 2) NOT NULL,
	[RefundStatusId] [int] NOT NULL,
	[ProcessedAt] [datetime2](7) NULL,
	[RefundTransactionID] [nvarchar](100) NULL,
	[Remarks] [nvarchar](500) NULL,
	[IsRefunded] [bit] NOT NULL,
	[PolicyID] [int] NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedByUserId] [int] NULL,
	[RefundOtpCode] [nvarchar](6) NULL,
	[RefundOtpExpireTime] [datetime2](7) NULL,
 CONSTRAINT [PK_Refund] PRIMARY KEY CLUSTERED 
(
	[RefundID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RefundPolicy]    Script Date: 7/13/2026 12:27:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RefundPolicy](
	[PolicyID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyId] [int] NOT NULL,
	[PolicyName] [nvarchar](100) NOT NULL,
	[HoursBeforeDeparture] [int] NOT NULL,
	[RefundPercentage] [decimal](5, 2) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_RefundPolicy] PRIMARY KEY CLUSTERED 
(
	[PolicyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RefundStatuses]    Script Date: 7/13/2026 12:27:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RefundStatuses](
	[RefundStatusId] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_RefundStatuses] PRIMARY KEY CLUSTERED 
(
	[RefundStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Route]    Script Date: 7/13/2026 12:27:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Route](
	[RouteID] [int] IDENTITY(1,1) NOT NULL,
	[FromLocationID] [int] NOT NULL,
	[ToLocationID] [int] NOT NULL,
	[DistanceKM] [decimal](8, 2) NULL,
	[EstimatedHours] [decimal](5, 2) NULL,
	[IsActive] [bit] NOT NULL,
	[ImageUrl] [nvarchar](500) NULL,
 CONSTRAINT [PK_Route] PRIMARY KEY CLUSTERED 
(
	[RouteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Schedule]    Script Date: 7/13/2026 12:27:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schedule](
	[ScheduleID] [int] IDENTITY(1,1) NOT NULL,
	[RouteId] [int] NOT NULL,
	[VehicleId] [int] NOT NULL,
	[DriverInformtionId] [int] NOT NULL,
	[SupervisorId] [int] NULL,
	[DepartureDateTime] [datetime2](7) NOT NULL,
	[ArrivalDateTime] [datetime2](7) NOT NULL,
	[BasePrice] [decimal](10, 2) NOT NULL,
	[AvailableSeats] [int] NOT NULL,
	[ScheduleStatusId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Schedule] PRIMARY KEY CLUSTERED 
(
	[ScheduleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScheduleApplication]    Script Date: 7/13/2026 12:27:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScheduleApplication](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RequesterId] [int] NOT NULL,
	[CompanyId] [int] NOT NULL,
	[RouteId] [int] NOT NULL,
	[VehicleId] [int] NOT NULL,
	[DepartureDateTime] [datetime2](7) NOT NULL,
	[ArrivalDateTime] [datetime2](7) NOT NULL,
	[Status] [nvarchar](30) NOT NULL,
	[Remarks] [nvarchar](500) NULL,
	[ManagerRemarks] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[RespondedAt] [datetime2](7) NULL,
	[CreatedScheduleId] [int] NULL,
 CONSTRAINT [PK_ScheduleApplication] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScheduleChatMessage]    Script Date: 7/13/2026 12:27:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScheduleChatMessage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ScheduleId] [int] NOT NULL,
	[SenderId] [int] NOT NULL,
	[SenderName] [nvarchar](150) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[MessageType] [nvarchar](50) NOT NULL,
	[FileUrl] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ScheduleChatMessage] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScheduleChatRemovedUser]    Script Date: 7/13/2026 12:27:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScheduleChatRemovedUser](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ScheduleId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[RemovedByUserId] [int] NULL,
	[RemovedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ScheduleChatRemovedUser] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScheduleExchangeRequest]    Script Date: 7/13/2026 12:27:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScheduleExchangeRequest](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RequesterId] [int] NOT NULL,
	[RequesterScheduleId] [int] NOT NULL,
	[TargetUserId] [int] NOT NULL,
	[TargetScheduleId] [int] NOT NULL,
	[Status] [nvarchar](30) NOT NULL,
	[Remarks] [nvarchar](500) NULL,
	[ManagerRemarks] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[PeerRespondedAt] [datetime2](7) NULL,
	[ManagerRespondedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_ScheduleExchangeRequest] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScheduleSeatClassPricing]    Script Date: 7/13/2026 12:27:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScheduleSeatClassPricing](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ScheduleId] [int] NOT NULL,
	[SeatClassId] [int] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_ScheduleSeatClassPricing] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScheduleSeatStatus]    Script Date: 7/13/2026 12:27:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScheduleSeatStatus](
	[StatusID] [int] IDENTITY(1,1) NOT NULL,
	[ScheduleID] [int] NOT NULL,
	[SeatID] [int] NOT NULL,
	[BookingID] [int] NULL,
	[SeatStatusId] [int] NOT NULL,
 CONSTRAINT [PK_ScheduleSeatStatus] PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScheduleStatuses]    Script Date: 7/13/2026 12:27:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScheduleStatuses](
	[ScheduleStatusId] [int] IDENTITY(1,1) NOT NULL,
	[ScheduleStatusName] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_ScheduleStatuses] PRIMARY KEY CLUSTERED 
(
	[ScheduleStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seat]    Script Date: 7/13/2026 12:27:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seat](
	[SeatID] [int] IDENTITY(1,1) NOT NULL,
	[VehicleId] [int] NOT NULL,
	[SeatNumber] [nvarchar](10) NOT NULL,
	[SeatPriceing] [decimal](10, 2) NOT NULL,
	[SeatClassId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Seat] PRIMARY KEY CLUSTERED 
(
	[SeatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SeatClasses]    Script Date: 7/13/2026 12:27:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SeatClasses](
	[SeatClassId] [int] IDENTITY(1,1) NOT NULL,
	[SeatClassName] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_SeatClasses] PRIMARY KEY CLUSTERED 
(
	[SeatClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SeatPricing]    Script Date: 7/13/2026 12:27:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SeatPricing](
	[PricingID] [int] IDENTITY(1,1) NOT NULL,
	[SeatClassId] [int] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[LastUpdate] [datetime2](7) NOT NULL,
	[VehicleId] [int] NOT NULL,
 CONSTRAINT [PK_SeatPricing] PRIMARY KEY CLUSTERED 
(
	[PricingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SeatStatuses]    Script Date: 7/13/2026 12:27:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SeatStatuses](
	[SeatStatusId] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SeatStatuses] PRIMARY KEY CLUSTERED 
(
	[SeatStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SliderImage]    Script Date: 7/13/2026 12:27:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SliderImage](
	[SliderImageID] [int] IDENTITY(1,1) NOT NULL,
	[ImageUrl] [nvarchar](500) NOT NULL,
	[Title] [nvarchar](100) NULL,
	[Subtitle] [nvarchar](200) NULL,
	[LinkUrl] [nvarchar](500) NULL,
	[DisplayOrder] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_SliderImage] PRIMARY KEY CLUSTERED 
(
	[SliderImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supervisors]    Script Date: 7/13/2026 12:27:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supervisors](
	[SupervisorId] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Supervisors] PRIMARY KEY CLUSTERED 
(
	[SupervisorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupportMessage]    Script Date: 7/13/2026 12:27:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupportMessage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoomId] [int] NOT NULL,
	[SenderName] [nvarchar](150) NOT NULL,
	[SenderId] [int] NULL,
	[Content] [nvarchar](max) NOT NULL,
	[MessageType] [nvarchar](50) NOT NULL,
	[FileUrl] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[IsRead] [bit] NOT NULL,
 CONSTRAINT [PK_SupportMessage] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupportRoom]    Script Date: 7/13/2026 12:27:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupportRoom](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserEmailOrIP] [nvarchar](100) NOT NULL,
	[AssignedAdminId] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[LastMessageAt] [datetime2](7) NOT NULL,
	[BrowserInfo] [nvarchar](200) NULL,
	[Geolocation] [nvarchar](200) NULL,
	[IpAddress] [nvarchar](50) NULL,
	[IspName] [nvarchar](200) NULL,
 CONSTRAINT [PK_SupportRoom] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemSetting]    Script Date: 7/13/2026 12:27:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemSetting](
	[Key] [nvarchar](100) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_SystemSetting] PRIMARY KEY CLUSTERED 
(
	[Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ticket]    Script Date: 7/13/2026 12:27:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ticket](
	[TicketID] [int] IDENTITY(1,1) NOT NULL,
	[BookingId] [int] NOT NULL,
	[TicketCode] [nvarchar](30) NOT NULL,
	[IssuedAt] [datetime2](7) NOT NULL,
	[IsUsed] [bit] NOT NULL,
	[UsedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Ticket] PRIMARY KEY CLUSTERED 
(
	[TicketID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 7/13/2026 12:27:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Picture] [nvarchar](500) NULL,
	[PasswordHash] [nvarchar](500) NOT NULL,
	[RefreshToken] [nvarchar](max) NULL,
	[RefreshTokenExpireTime] [datetime2](7) NULL,
	[RoleID] [int] NOT NULL,
	[DriverInformtionId] [int] NULL,
	[SupervisorId] [int] NULL,
	[CompanyId] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[FailedLoginAttempts] [int] NOT NULL,
	[LockoutEnd] [datetime2](7) NULL,
	[OtpCode] [nvarchar](6) NULL,
	[OtpExpireTime] [datetime2](7) NULL,
	[LoginOtpCode] [nvarchar](6) NULL,
	[LoginOtpExpireTime] [datetime2](7) NULL,
	[EmailChangeOtpCode] [nvarchar](6) NULL,
	[EmailChangeOtpExpireTime] [datetime2](7) NULL,
	[PendingNewEmail] [nvarchar](100) NULL,
	[IsEmailVerified] [bit] NOT NULL,
	[RegistrationOtpCode] [nvarchar](6) NULL,
	[RegistrationOtpExpireTime] [datetime2](7) NULL,
	[AdminCopyEmail] [nvarchar](150) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLoginHistory]    Script Date: 7/13/2026 12:27:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLoginHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[IpAddress] [nvarchar](45) NOT NULL,
	[DeviceName] [nvarchar](500) NOT NULL,
	[LoginTime] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[LastActiveTime] [datetime2](7) NULL,
	[Browser] [nvarchar](100) NULL,
	[City] [nvarchar](100) NULL,
	[Country] [nvarchar](100) NULL,
	[CountryCode] [nvarchar](10) NULL,
	[IspName] [nvarchar](100) NULL,
	[Referrer] [nvarchar](500) NULL,
	[TrafficChannel] [nvarchar](50) NULL,
 CONSTRAINT [PK_UserLoginHistory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 7/13/2026 12:27:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[UserRoleId] [int] IDENTITY(1,1) NOT NULL,
	[UserRoleName] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_UserRoles] PRIMARY KEY CLUSTERED 
(
	[UserRoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehicle]    Script Date: 7/13/2026 12:27:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicle](
	[VehicleID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyId] [int] NOT NULL,
	[VehicleName] [nvarchar](100) NOT NULL,
	[VehicleNumber] [nvarchar](50) NOT NULL,
	[EngineNumber] [nvarchar](50) NOT NULL,
	[EngineCC] [nvarchar](50) NOT NULL,
	[ChassisNumber] [nvarchar](50) NOT NULL,
	[VehicleTypeId] [int] NOT NULL,
	[TotalSeats] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[SeatLayoutConfig] [nvarchar](max) NULL,
 CONSTRAINT [PK_Vehicle] PRIMARY KEY CLUSTERED 
(
	[VehicleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VehicleTypes]    Script Date: 7/13/2026 12:27:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleTypes](
	[VehicleTypeId] [int] IDENTITY(1,1) NOT NULL,
	[VehicleTypeName] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_VehicleTypes] PRIMARY KEY CLUSTERED 
(
	[VehicleTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260509000000_InitialCreate', N'7.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260509145553_ScriptA', N'10.0.7')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260517085159_AddNotificationsTable', N'10.0.7')
GO
SET IDENTITY_INSERT [dbo].[AdminNotificationPreference] ON 

INSERT [dbo].[AdminNotificationPreference] ([Id], [AdminUserId], [CompanyId], [IsEnabled]) VALUES (1, 2, 1, 1)
INSERT [dbo].[AdminNotificationPreference] ([Id], [AdminUserId], [CompanyId], [IsEnabled]) VALUES (2, 2, 2, 1)
INSERT [dbo].[AdminNotificationPreference] ([Id], [AdminUserId], [CompanyId], [IsEnabled]) VALUES (3, 2, 3, 1)
SET IDENTITY_INSERT [dbo].[AdminNotificationPreference] OFF
GO
SET IDENTITY_INSERT [dbo].[Banner] ON 

INSERT [dbo].[Banner] ([BannerId], [Title], [ImageUrl], [LinkUrl], [Position], [IsActive], [CreatedAt], [SizeTemplate]) VALUES (2, N'Dhaka to Khulna', N'http://localhost:5293/uploads/banners/c9293159-9d76-456b-b41a-bbd4d3346ce4_Bannar_03.jpg.jpeg', NULL, N'UpcomingTrips', 1, CAST(N'2026-05-20T07:43:45.5995483' AS DateTime2), N'')
INSERT [dbo].[Banner] ([BannerId], [Title], [ImageUrl], [LinkUrl], [Position], [IsActive], [CreatedAt], [SizeTemplate]) VALUES (3, N'Dhaka to Barishal', N'http://localhost:5293/uploads/banners/10de2a29-b359-48be-824d-53c975c82a5c_Bannar_01.jpg.jpeg', NULL, N'PopularRoutes', 1, CAST(N'2026-05-20T07:44:24.7288008' AS DateTime2), N'')
INSERT [dbo].[Banner] ([BannerId], [Title], [ImageUrl], [LinkUrl], [Position], [IsActive], [CreatedAt], [SizeTemplate]) VALUES (1004, NULL, N'http://localhost:5293/uploads/banners/c8cbb629-32c7-45e6-b01f-bb0b8155ff0d_chuttersnap-kq8iWoh5-mU-unsplash.jpg', NULL, N'TransportPartners', 1, CAST(N'2026-05-31T15:22:50.7907254' AS DateTime2), N'Horizontal')
SET IDENTITY_INSERT [dbo].[Banner] OFF
GO
SET IDENTITY_INSERT [dbo].[Booking] ON 

SET IDENTITY_INSERT [dbo].[Booking] OFF
GO
SET IDENTITY_INSERT [dbo].[BookingSeats] ON 

INSERT [dbo].[BookingSeats] ([BookingSeatId], [BookingId], [SeatId]) VALUES (1, 2, 625)
INSERT [dbo].[BookingSeats] ([BookingSeatId], [BookingId], [SeatId]) VALUES (2, 2, 626)
INSERT [dbo].[BookingSeats] ([BookingSeatId], [BookingId], [SeatId]) VALUES (3, 2, 627)
GO
SET IDENTITY_INSERT [dbo].[BookingSeats] OFF
GO
SET IDENTITY_INSERT [dbo].[BookingStatuses] ON 

INSERT [dbo].[BookingStatuses] ([BookingStatusId], [BookingStatusName]) VALUES (1, N'Pending')
INSERT [dbo].[BookingStatuses] ([BookingStatusId], [BookingStatusName]) VALUES (2, N'Confirmed')
INSERT [dbo].[BookingStatuses] ([BookingStatusId], [BookingStatusName]) VALUES (3, N'Cancelled')
SET IDENTITY_INSERT [dbo].[BookingStatuses] OFF
GO
SET IDENTITY_INSERT [dbo].[Company] ON 

INSERT [dbo].[Company] ([CompanyID], [CompanyName], [CompanyTypeId], [ContactEmail], [ContactPhone], [Address], [LogoURL], [IsActive], [CreatedAt], [TicketBackgroundOpacity], [TicketBackgroundUrl]) VALUES (2, N'Sky Ltd Co.', 4, N'skyltd55@gmail.com', N'01734463322', NULL, N'http://localhost:5293/uploads/companies/8fd9ab7c-d31f-4b65-8d2f-04256a0807d1_download.png', 1, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), CAST(0.00 AS Decimal(3, 2)), NULL)
INSERT [dbo].[Company] ([CompanyID], [CompanyName], [CompanyTypeId], [ContactEmail], [ContactPhone], [Address], [LogoURL], [IsActive], [CreatedAt], [TicketBackgroundOpacity], [TicketBackgroundUrl]) VALUES (3, N'Egol Ltd.', 4, N'Egal29@gmail.com', N'012446378905', NULL, N'http://localhost:5293/uploads/companies/a6c35a0d-d3e1-4f0a-a761-b93d7f74f562_download (6).jpg', 1, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), CAST(0.00 AS Decimal(3, 2)), NULL)
SET IDENTITY_INSERT [dbo].[Company] OFF
GO
SET IDENTITY_INSERT [dbo].[CompanyTypes] ON 

INSERT [dbo].[CompanyTypes] ([CompanyTypeId], [CompanyTypeName]) VALUES (1, N'Bus Operator')
INSERT [dbo].[CompanyTypes] ([CompanyTypeId], [CompanyTypeName]) VALUES (2, N'Launch Operator')
INSERT [dbo].[CompanyTypes] ([CompanyTypeId], [CompanyTypeName]) VALUES (3, N'Airlines')
SET IDENTITY_INSERT [dbo].[CompanyTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[DepartureLocation] ON 

INSERT [dbo].[DepartureLocation] ([DepartureLocationID], [ScheduleID], [LocationID], [Time]) VALUES (1, 7, 3, CAST(N'07:00:00' AS Time))
INSERT [dbo].[DepartureLocation] ([DepartureLocationID], [ScheduleID], [LocationID], [Time]) VALUES (2, 7, 431, CAST(N'09:00:00' AS Time))
INSERT [dbo].[DepartureLocation] ([DepartureLocationID], [ScheduleID], [LocationID], [Time]) VALUES (3, 7, 1, CAST(N'11:00:00' AS Time))
SET IDENTITY_INSERT [dbo].[DepartureLocation] OFF
GO
SET IDENTITY_INSERT [dbo].[Discount] ON 

INSERT [dbo].[Discount] ([DiscountID], [CompanyId], [RouteId], [VehicleTypeId], [DiscountName], [DiscountTypeId], [DiscountValue], [MinTicketAmount], [StartDate], [EndDate], [IsActive], [CouponCode]) VALUES (4, 1, NULL, NULL, N'Eid ul Adah', 2, CAST(200.00 AS Decimal(10, 2)), NULL, CAST(N'2026-05-19T00:00:00.0000000' AS DateTime2), CAST(N'2027-06-01T00:00:00.0000000' AS DateTime2), 1, N'hamba200')
INSERT [dbo].[Discount] ([DiscountID], [CompanyId], [RouteId], [VehicleTypeId], [DiscountName], [DiscountTypeId], [DiscountValue], [MinTicketAmount], [StartDate], [EndDate], [IsActive], [CouponCode]) VALUES (5, 1, NULL, NULL, N'hamba Mubaraq 5%', 1, CAST(5.00 AS Decimal(10, 2)), NULL, CAST(N'2026-05-17T00:00:00.0000000' AS DateTime2), CAST(N'2027-06-29T00:00:00.0000000' AS DateTime2), 1, N'hambaMUbaraq')
INSERT [dbo].[Discount] ([DiscountID], [CompanyId], [RouteId], [VehicleTypeId], [DiscountName], [DiscountTypeId], [DiscountValue], [MinTicketAmount], [StartDate], [EndDate], [IsActive], [CouponCode]) VALUES (6, 1, NULL, NULL, N'EidMubarak', 1, CAST(5.00 AS Decimal(10, 2)), CAST(2.00 AS Decimal(10, 2)), CAST(N'2026-05-20T00:00:00.0000000' AS DateTime2), CAST(N'2026-06-08T00:00:00.0000000' AS DateTime2), 1, N'EidMubarak25')
SET IDENTITY_INSERT [dbo].[Discount] OFF
GO
SET IDENTITY_INSERT [dbo].[DiscountTypes] ON 

INSERT [dbo].[DiscountTypes] ([DiscountTypeId], [DiscountTypeName]) VALUES (1, N'Percentage')
INSERT [dbo].[DiscountTypes] ([DiscountTypeId], [DiscountTypeName]) VALUES (2, N'Flat Amount')
SET IDENTITY_INSERT [dbo].[DiscountTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[DriverInformtions] ON 

INSERT [dbo].[DriverInformtions] ([DriverInformtionId], [LicenceNumber], [licenceExpDate]) VALUES (1, N'DLR-12345678', CAST(N'2030-12-31T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[DriverInformtions] ([DriverInformtionId], [LicenceNumber], [licenceExpDate]) VALUES (2, N'Nakibul Islam Fahim', CAST(N'2026-05-11T15:24:47.9750000' AS DateTime2))
INSERT [dbo].[DriverInformtions] ([DriverInformtionId], [LicenceNumber], [licenceExpDate]) VALUES (3, N'Atikur Rahman', CAST(N'2026-06-11T15:24:47.9750000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[DriverInformtions] OFF
GO
SET IDENTITY_INSERT [dbo].[Location] ON 

INSERT [dbo].[Location] ([LocationID], [LocationName], [LocationCode], [Latitude], [Longitude], [District], [IsActive]) VALUES (1, N'Dhaka', 10, CAST(23.8103000 AS Decimal(10, 7)), N'90.4125', N'Dhaka', 1)
INSERT [dbo].[Location] ([LocationID], [LocationName], [LocationCode], [Latitude], [Longitude], [District], [IsActive]) VALUES (2, N'Chittagong', 20, CAST(22.3569000 AS Decimal(10, 7)), N'91.7832', N'Chittagong', 1)
INSERT [dbo].[Location] ([LocationID], [LocationName], [LocationCode], [Latitude], [Longitude], [District], [IsActive]) VALUES (3, N'Sylhet', 30, CAST(24.8949000 AS Decimal(10, 7)), N'91.8687', N'Sylhet', 1)
GO
SET IDENTITY_INSERT [dbo].[Location] OFF
GO
SET IDENTITY_INSERT [dbo].[Notifications] ON 

INSERT [dbo].[Notifications] ([Id], [UserId], [Title], [Message], [Type], [Icon], [ColorClass], [IsRead], [CreatedAt], [CompanyId], [EntityId], [EntityType]) VALUES (12, 2, N'New Ticket Booked', N'Booking #B260520044743170 by Ahasunul | Route: Unknown Route | Amount: ৳3,228', N'booking', N'fas fa-ticket-alt', N'bg-green-100 text-green-600', 1, CAST(N'2026-05-20T04:47:44.3356483' AS DateTime2), NULL, 30, N'Booking')
INSERT [dbo].[Notifications] ([Id], [UserId], [Title], [Message], [Type], [Icon], [ColorClass], [IsRead], [CreatedAt], [CompanyId], [EntityId], [EntityType]) VALUES (14, 2, N'New Ticket Booked', N'Booking #B260520065447275 by Azman Ali | Route: Unknown Route | Amount: ৳1,858', N'booking', N'fas fa-ticket-alt', N'bg-green-100 text-green-600', 1, CAST(N'2026-05-20T06:54:48.3046923' AS DateTime2), NULL, 31, N'Booking')
INSERT [dbo].[Notifications] ([Id], [UserId], [Title], [Message], [Type], [Icon], [ColorClass], [IsRead], [CreatedAt], [CompanyId], [EntityId], [EntityType]) VALUES (16, 2, N'Refund Processed', N'Refund of ৳1,444 for booking #B260520065447275 has been processed.', N'refund', N'fas fa-check-circle', N'bg-purple-100 text-purple-600', 1, CAST(N'2026-05-20T06:56:57.7388985' AS DateTime2), 1, 5, N'Refund')
GO
SET IDENTITY_INSERT [dbo].[Notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([PaymentID], [BookingId], [Amount], [DiscountAmount], [PaymentMethodId], [TransactionID], [PaymentStatusId], [PaidAt], [CreatedAt], [ProcessingFeeAmount], [VATAmount]) VALUES (1, 2, CAST(3600.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), 1, N'Tx01550446262', 2, CAST(N'2026-05-17T18:30:01.0449628' AS DateTime2), CAST(N'2026-05-17T18:30:01.0450322' AS DateTime2), CAST(0.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)))
INSERT [dbo].[Payment] ([PaymentID], [BookingId], [Amount], [DiscountAmount], [PaymentMethodId], [TransactionID], [PaymentStatusId], [PaidAt], [CreatedAt], [ProcessingFeeAmount], [VATAmount]) VALUES (2, 3, CAST(1200.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), 1, N'tx423423423', 2, CAST(N'2026-05-17T18:36:27.2340528' AS DateTime2), CAST(N'2026-05-17T18:36:27.2340535' AS DateTime2), CAST(0.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)))
INSERT [dbo].[Payment] ([PaymentID], [BookingId], [Amount], [DiscountAmount], [PaymentMethodId], [TransactionID], [PaymentStatusId], [PaidAt], [CreatedAt], [ProcessingFeeAmount], [VATAmount]) VALUES (3, 4, CAST(1200.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), 1, N'tx64578675', 2, CAST(N'2026-05-17T19:01:18.6576267' AS DateTime2), CAST(N'2026-05-17T19:01:18.6576994' AS DateTime2), CAST(0.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentMethod] ON 

INSERT [dbo].[PaymentMethod] ([PaymentMethodId], [PaymentMethodName], [IsActive], [LogoUrl], [ProcessingFeePercent], [VATPercent]) VALUES (1, N'bKash', 1, N'http://localhost:5293/uploads/payment-methods/c395b863-c468-495e-9004-55ccbfa00295_bkash-logo-horizontal-mobile-banking-app-icon-emblem-transparent-background-free-png.webp', CAST(1.90 AS Decimal(5, 2)), CAST(1.00 AS Decimal(5, 2)))
INSERT [dbo].[PaymentMethod] ([PaymentMethodId], [PaymentMethodName], [IsActive], [LogoUrl], [ProcessingFeePercent], [VATPercent]) VALUES (2, N'Credit Card', 1, N'http://localhost:5293/uploads/payment-methods/7633bb68-85d7-4c8f-a706-9a612c6b83c2_6963703.png', CAST(2.00 AS Decimal(5, 2)), CAST(15.00 AS Decimal(5, 2)))
INSERT [dbo].[PaymentMethod] ([PaymentMethodId], [PaymentMethodName], [IsActive], [LogoUrl], [ProcessingFeePercent], [VATPercent]) VALUES (4, N'Nagad', 1, N'http://localhost:5293/uploads/payment-methods/88e90e8d-d5ed-4f77-a4fe-a2fb0384b9b1_Nagad-Logo.wine.svg', CAST(1.20 AS Decimal(5, 2)), CAST(5.00 AS Decimal(5, 2)))
SET IDENTITY_INSERT [dbo].[PaymentMethod] OFF
GO
SET IDENTITY_INSERT [dbo].[paymentStatuses] ON 

INSERT [dbo].[paymentStatuses] ([PaymentStatusId], [PaymentStatusName]) VALUES (1, N'Pending')
INSERT [dbo].[paymentStatuses] ([PaymentStatusId], [PaymentStatusName]) VALUES (2, N'Completed')
INSERT [dbo].[paymentStatuses] ([PaymentStatusId], [PaymentStatusName]) VALUES (3, N'Failed')
SET IDENTITY_INSERT [dbo].[paymentStatuses] OFF
GO
SET IDENTITY_INSERT [dbo].[Refund] ON 

INSERT [dbo].[Refund] ([RefundID], [BookingId], [PaymentId], [RequestedAt], [RefundPercentage], [RefundAmount], [RefundStatusId], [ProcessedAt], [RefundTransactionID], [Remarks], [IsRefunded], [PolicyID], [UpdatedAt], [UpdatedByUserId], [RefundOtpCode], [RefundOtpExpireTime]) VALUES (1, 7, 6, CAST(N'2026-05-18T09:48:25.6645371' AS DateTime2), CAST(80.00 AS Decimal(5, 2)), CAST(3840.00 AS Decimal(10, 2)), 3, CAST(N'2026-05-18T11:10:57.1780842' AS DateTime2), NULL, N'change plan', 0, 1, CAST(N'2026-05-18T11:12:29.9685082' AS DateTime2), 2, NULL, NULL)
INSERT [dbo].[Refund] ([RefundID], [BookingId], [PaymentId], [RequestedAt], [RefundPercentage], [RefundAmount], [RefundStatusId], [ProcessedAt], [RefundTransactionID], [Remarks], [IsRefunded], [PolicyID], [UpdatedAt], [UpdatedByUserId], [RefundOtpCode], [RefundOtpExpireTime]) VALUES (2, 14, 13, CAST(N'2026-05-18T09:49:45.4971251' AS DateTime2), CAST(50.00 AS Decimal(5, 2)), CAST(450.00 AS Decimal(10, 2)), 2, CAST(N'2026-05-18T11:11:10.6398135' AS DateTime2), NULL, N'amni', 1, 1, CAST(N'2026-05-18T11:11:10.6398154' AS DateTime2), 2, NULL, NULL)
INSERT [dbo].[Refund] ([RefundID], [BookingId], [PaymentId], [RequestedAt], [RefundPercentage], [RefundAmount], [RefundStatusId], [ProcessedAt], [RefundTransactionID], [Remarks], [IsRefunded], [PolicyID], [UpdatedAt], [UpdatedByUserId], [RefundOtpCode], [RefundOtpExpireTime]) VALUES (3, 15, 14, CAST(N'2026-05-19T10:24:25.7237736' AS DateTime2), CAST(80.00 AS Decimal(5, 2)), CAST(1920.00 AS Decimal(10, 2)), 2, CAST(N'2026-05-19T10:24:46.3688603' AS DateTime2), NULL, N'amni', 1, 1, CAST(N'2026-05-19T10:24:46.3693966' AS DateTime2), 2, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Refund] OFF
GO
SET IDENTITY_INSERT [dbo].[RefundPolicy] ON 

INSERT [dbo].[RefundPolicy] ([PolicyID], [CompanyId], [PolicyName], [HoursBeforeDeparture], [RefundPercentage], [IsActive]) VALUES (1, 1, N'Standard Cancellation', 24, CAST(80.00 AS Decimal(5, 2)), 1)
SET IDENTITY_INSERT [dbo].[RefundPolicy] OFF
GO
SET IDENTITY_INSERT [dbo].[RefundStatuses] ON 

INSERT [dbo].[RefundStatuses] ([RefundStatusId], [StatusName]) VALUES (1, N'Requested')
INSERT [dbo].[RefundStatuses] ([RefundStatusId], [StatusName]) VALUES (2, N'Processed')
INSERT [dbo].[RefundStatuses] ([RefundStatusId], [StatusName]) VALUES (3, N'Rejected')
SET IDENTITY_INSERT [dbo].[RefundStatuses] OFF
GO
SET IDENTITY_INSERT [dbo].[Route] ON 

INSERT [dbo].[Route] ([RouteID], [FromLocationID], [ToLocationID], [DistanceKM], [EstimatedHours], [IsActive], [ImageUrl]) VALUES (1, 1, 2, CAST(250.00 AS Decimal(8, 2)), CAST(5.50 AS Decimal(5, 2)), 1, N'http://localhost:5293/uploads/routes/7c126148-c186-43d6-bcd4-2b53f4e14378_download (11).jpg')
INSERT [dbo].[Route] ([RouteID], [FromLocationID], [ToLocationID], [DistanceKM], [EstimatedHours], [IsActive], [ImageUrl]) VALUES (3, 1, 2, CAST(420.00 AS Decimal(8, 2)), CAST(8.00 AS Decimal(5, 2)), 1, N'http://localhost:5293/uploads/routes/f543c77d-b388-4cb6-b20c-10c40b21771b_download (8).jpg')
INSERT [dbo].[Route] ([RouteID], [FromLocationID], [ToLocationID], [DistanceKM], [EstimatedHours], [IsActive], [ImageUrl]) VALUES (5, 2, 3, CAST(230.00 AS Decimal(8, 2)), CAST(4.00 AS Decimal(5, 2)), 1, N'http://localhost:5293/uploads/routes/26e15974-b6ca-4307-afff-83e9f1f954ab_download (9).jpg')
SET IDENTITY_INSERT [dbo].[Route] OFF
GO
SET IDENTITY_INSERT [dbo].[Schedule] ON 

INSERT [dbo].[Schedule] ([ScheduleID], [RouteId], [VehicleId], [DriverInformtionId], [SupervisorId], [DepartureDateTime], [ArrivalDateTime], [BasePrice], [AvailableSeats], [ScheduleStatusId], [CreatedAt]) VALUES (4, 1, 1, 3, 1, CAST(N'2026-05-15T17:44:00.0000000' AS DateTime2), CAST(N'2026-05-16T10:44:00.0000000' AS DateTime2), CAST(1200.00 AS Decimal(10, 2)), 40, 2, CAST(N'2026-05-17T05:44:36.7634792' AS DateTime2))
INSERT [dbo].[Schedule] ([ScheduleID], [RouteId], [VehicleId], [DriverInformtionId], [SupervisorId], [DepartureDateTime], [ArrivalDateTime], [BasePrice], [AvailableSeats], [ScheduleStatusId], [CreatedAt]) VALUES (5, 5, 3, 3, 1, CAST(N'2026-05-16T18:24:00.0000000' AS DateTime2), CAST(N'2026-05-17T18:26:00.0000000' AS DateTime2), CAST(1300.00 AS Decimal(10, 2)), 42, 2, CAST(N'2026-05-17T06:25:16.1285588' AS DateTime2))
INSERT [dbo].[Schedule] ([ScheduleID], [RouteId], [VehicleId], [DriverInformtionId], [SupervisorId], [DepartureDateTime], [ArrivalDateTime], [BasePrice], [AvailableSeats], [ScheduleStatusId], [CreatedAt]) VALUES (6, 1, 1, 2, 3, CAST(N'2026-05-20T14:00:00.0000000' AS DateTime2), CAST(N'2026-05-20T20:00:00.0000000' AS DateTime2), CAST(1200.00 AS Decimal(10, 2)), 40, 1, CAST(N'2026-05-17T13:27:52.3266428' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Schedule] OFF
GO
SET IDENTITY_INSERT [dbo].[ScheduleSeatClassPricing] ON 

INSERT [dbo].[ScheduleSeatClassPricing] ([Id], [ScheduleId], [SeatClassId], [Price]) VALUES (1, 13, 7, CAST(1400.00 AS Decimal(10, 2)))
INSERT [dbo].[ScheduleSeatClassPricing] ([Id], [ScheduleId], [SeatClassId], [Price]) VALUES (2, 13, 4, CAST(1900.00 AS Decimal(10, 2)))
INSERT [dbo].[ScheduleSeatClassPricing] ([Id], [ScheduleId], [SeatClassId], [Price]) VALUES (3, 14, 7, CAST(1300.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[ScheduleSeatClassPricing] OFF
GO
SET IDENTITY_INSERT [dbo].[ScheduleSeatStatus] ON 

INSERT [dbo].[ScheduleSeatStatus] ([StatusID], [ScheduleID], [SeatID], [BookingID], [SeatStatusId]) VALUES (1, 9, 625, NULL, 2)
INSERT [dbo].[ScheduleSeatStatus] ([StatusID], [ScheduleID], [SeatID], [BookingID], [SeatStatusId]) VALUES (2, 9, 626, NULL, 2)
INSERT [dbo].[ScheduleSeatStatus] ([StatusID], [ScheduleID], [SeatID], [BookingID], [SeatStatusId]) VALUES (3, 9, 627, NULL, 2)
GO
SET IDENTITY_INSERT [dbo].[ScheduleSeatStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[ScheduleStatuses] ON 

INSERT [dbo].[ScheduleStatuses] ([ScheduleStatusId], [ScheduleStatusName]) VALUES (1, N'Scheduled')
INSERT [dbo].[ScheduleStatuses] ([ScheduleStatusId], [ScheduleStatusName]) VALUES (2, N'Completed')
INSERT [dbo].[ScheduleStatuses] ([ScheduleStatusId], [ScheduleStatusName]) VALUES (3, N'Cancelled')
SET IDENTITY_INSERT [dbo].[ScheduleStatuses] OFF
GO
SET IDENTITY_INSERT [dbo].[Seat] ON 

INSERT [dbo].[Seat] ([SeatID], [VehicleId], [SeatNumber], [SeatPriceing], [SeatClassId], [IsActive]) VALUES (1, 1, N'A1', CAST(1200.00 AS Decimal(10, 2)), 2, 1)
INSERT [dbo].[Seat] ([SeatID], [VehicleId], [SeatNumber], [SeatPriceing], [SeatClassId], [IsActive]) VALUES (2, 1, N'A2', CAST(1200.00 AS Decimal(10, 2)), 2, 1)
INSERT [dbo].[Seat] ([SeatID], [VehicleId], [SeatNumber], [SeatPriceing], [SeatClassId], [IsActive]) VALUES (31, 3, N'A1', CAST(0.00 AS Decimal(10, 2)), 1, 1)
GO
SET IDENTITY_INSERT [dbo].[Seat] OFF
GO
SET IDENTITY_INSERT [dbo].[SeatClasses] ON 

INSERT [dbo].[SeatClasses] ([SeatClassId], [SeatClassName]) VALUES (1, N'Economy')
INSERT [dbo].[SeatClasses] ([SeatClassId], [SeatClassName]) VALUES (2, N'Business')
INSERT [dbo].[SeatClasses] ([SeatClassId], [SeatClassName]) VALUES (4, N'Sleeper')
SET IDENTITY_INSERT [dbo].[SeatClasses] OFF
GO
SET IDENTITY_INSERT [dbo].[SeatStatuses] ON 

INSERT [dbo].[SeatStatuses] ([SeatStatusId], [StatusName]) VALUES (1, N'Available')
INSERT [dbo].[SeatStatuses] ([SeatStatusId], [StatusName]) VALUES (2, N'Booked')
INSERT [dbo].[SeatStatuses] ([SeatStatusId], [StatusName]) VALUES (3, N'Locked')
SET IDENTITY_INSERT [dbo].[SeatStatuses] OFF
GO
SET IDENTITY_INSERT [dbo].[SliderImage] ON 

INSERT [dbo].[SliderImage] ([SliderImageID], [ImageUrl], [Title], [Subtitle], [LinkUrl], [DisplayOrder], [IsActive]) VALUES (1002, N'http://localhost:5293/uploads/sliders/4a091189-478f-4d99-bf24-7b8019b2f373_kacper-korgul-llj2pl1U2Ts-unsplash.jpg', NULL, NULL, NULL, 0, 1)
INSERT [dbo].[SliderImage] ([SliderImageID], [ImageUrl], [Title], [Subtitle], [LinkUrl], [DisplayOrder], [IsActive]) VALUES (1003, N'http://localhost:5293/uploads/sliders/bd7904fd-2790-4859-95e2-39689bd91117_pexels-safi-erneste-165511538-18029613.jpg', NULL, NULL, NULL, 0, 1)
INSERT [dbo].[SliderImage] ([SliderImageID], [ImageUrl], [Title], [Subtitle], [LinkUrl], [DisplayOrder], [IsActive]) VALUES (1004, N'http://localhost:5293/uploads/sliders/65f5c40a-5577-47d4-aa91-9ccde2b99f48_pexels-maruf-hasan-186687100-32699581.jpg', NULL, NULL, NULL, 0, 1)
SET IDENTITY_INSERT [dbo].[SliderImage] OFF
GO
SET IDENTITY_INSERT [dbo].[Supervisors] ON 

INSERT [dbo].[Supervisors] ([SupervisorId]) VALUES (1)
INSERT [dbo].[Supervisors] ([SupervisorId]) VALUES (2)
INSERT [dbo].[Supervisors] ([SupervisorId]) VALUES (3)
SET IDENTITY_INSERT [dbo].[Supervisors] OFF
GO
SET IDENTITY_INSERT [dbo].[SupportMessage] ON 

INSERT [dbo].[SupportMessage] ([Id], [RoomId], [SenderName], [SenderId], [Content], [MessageType], [FileUrl], [CreatedAt], [IsRead]) VALUES (1, 1, N'nifahim4@gmail.com', NULL, N'help', N'text', NULL, CAST(N'2026-05-19T15:55:35.0965639' AS DateTime2), 1)
INSERT [dbo].[SupportMessage] ([Id], [RoomId], [SenderName], [SenderId], [Content], [MessageType], [FileUrl], [CreatedAt], [IsRead]) VALUES (2, 2, N'customer1@gmail.com', NULL, N'Sent Image (152 KB)', N'image', N'/uploads/chat/09288557-2595-48a0-ad5d-edf5852eb68b.jpeg', CAST(N'2026-05-19T15:58:27.9182383' AS DateTime2), 1)
INSERT [dbo].[SupportMessage] ([Id], [RoomId], [SenderName], [SenderId], [Content], [MessageType], [FileUrl], [CreatedAt], [IsRead]) VALUES (3, 2, N'customer1@gmail.com', NULL, N'hello please help me', N'text', NULL, CAST(N'2026-05-19T16:01:15.0279833' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[SupportMessage] OFF
GO
SET IDENTITY_INSERT [dbo].[SupportRoom] ON 

INSERT [dbo].[SupportRoom] ([Id], [UserEmailOrIP], [AssignedAdminId], [IsActive], [CreatedAt], [LastMessageAt], [BrowserInfo], [Geolocation], [IpAddress], [IspName]) VALUES (1, N'nifahim4@gmail.com', 1, 1, CAST(N'2026-05-19T15:55:08.7371422' AS DateTime2), CAST(N'2026-05-20T07:02:38.5008823' AS DateTime2), NULL, NULL, NULL, NULL)
INSERT [dbo].[SupportRoom] ([Id], [UserEmailOrIP], [AssignedAdminId], [IsActive], [CreatedAt], [LastMessageAt], [BrowserInfo], [Geolocation], [IpAddress], [IspName]) VALUES (2, N'customer1@gmail.com', NULL, 1, CAST(N'2026-05-19T15:57:59.0119918' AS DateTime2), CAST(N'2026-05-19T17:05:55.7512732' AS DateTime2), NULL, NULL, NULL, NULL)
INSERT [dbo].[SupportRoom] ([Id], [UserEmailOrIP], [AssignedAdminId], [IsActive], [CreatedAt], [LastMessageAt], [BrowserInfo], [Geolocation], [IpAddress], [IspName]) VALUES (3, N'Guest', NULL, 1, CAST(N'2026-05-19T16:00:41.8595814' AS DateTime2), CAST(N'2026-05-26T11:26:20.8121197' AS DateTime2), NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[SupportRoom] OFF
GO
INSERT [dbo].[SystemSetting] ([Key], [Value]) VALUES (N'EnableBackgroundPattern', N'true')
INSERT [dbo].[SystemSetting] ([Key], [Value]) VALUES (N'TicketBackgroundOpacity', N'0.2')
GO
SET IDENTITY_INSERT [dbo].[User] ON 

SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[UserLoginHistory] ON 

INSERT [dbo].[UserLoginHistory] ([Id], [UserId], [IpAddress], [DeviceName], [LoginTime], [IsActive], [LastActiveTime], [Browser], [City], [Country], [CountryCode], [IspName], [Referrer], [TrafficChannel]) VALUES (2, 1, N'::1', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/148.0.0.0 Safari/537.36', CAST(N'2026-05-26T08:12:48.7622400' AS DateTime2), 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[UserLoginHistory] ([Id], [UserId], [IpAddress], [DeviceName], [LoginTime], [IsActive], [LastActiveTime], [Browser], [City], [Country], [CountryCode], [IspName], [Referrer], [TrafficChannel]) VALUES (3, 1, N'::1', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/148.0.0.0 Safari/537.36', CAST(N'2026-05-26T09:19:46.0698398' AS DateTime2), 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[UserLoginHistory] ([Id], [UserId], [IpAddress], [DeviceName], [LoginTime], [IsActive], [LastActiveTime], [Browser], [City], [Country], [CountryCode], [IspName], [Referrer], [TrafficChannel]) VALUES (4, 1019, N'::1', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/148.0.0.0 Safari/537.36', CAST(N'2026-05-26T09:32:23.9800607' AS DateTime2), 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[UserLoginHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRoles] ON 

INSERT [dbo].[UserRoles] ([UserRoleId], [UserRoleName]) VALUES (1, N'Admin')
INSERT [dbo].[UserRoles] ([UserRoleId], [UserRoleName]) VALUES (2, N'Agent')
INSERT [dbo].[UserRoles] ([UserRoleId], [UserRoleName]) VALUES (3, N'Customer')
SET IDENTITY_INSERT [dbo].[UserRoles] OFF
GO
SET IDENTITY_INSERT [dbo].[Vehicle] ON 

INSERT [dbo].[Vehicle] ([VehicleID], [CompanyId], [VehicleName], [VehicleNumber], [EngineNumber], [EngineCC], [ChassisNumber], [VehicleTypeId], [TotalSeats], [IsActive], [SeatLayoutConfig]) VALUES (1, 1, N'Volvo B11R', N'DHA-11-2233', N'ENG-987654', N'11000', N'CHS-123456', 1, 40, 1, NULL)
INSERT [dbo].[Vehicle] ([VehicleID], [CompanyId], [VehicleName], [VehicleNumber], [EngineNumber], [EngineCC], [ChassisNumber], [VehicleTypeId], [TotalSeats], [IsActive], [SeatLayoutConfig]) VALUES (3, 2, N'Bus', N'22452562', N'132432', N'23666', N'562336', 2, 28, 1, NULL)
INSERT [dbo].[Vehicle] ([VehicleID], [CompanyId], [VehicleName], [VehicleNumber], [EngineNumber], [EngineCC], [ChassisNumber], [VehicleTypeId], [TotalSeats], [IsActive], [SeatLayoutConfig]) VALUES (4, 1, N'Bus AC', N'22452562', N'1324321', N'23666', N'562336', 1, 40, 1, N'{"Rows":13,"Columns":3,"AisleAfterColumn":1,"IsDoubleDecker":false,"ContinuousBackRow":true}')
SET IDENTITY_INSERT [dbo].[Vehicle] OFF
GO
SET IDENTITY_INSERT [dbo].[VehicleTypes] ON 

INSERT [dbo].[VehicleTypes] ([VehicleTypeId], [VehicleTypeName]) VALUES (1, N'AC Bus')
INSERT [dbo].[VehicleTypes] ([VehicleTypeId], [VehicleTypeName]) VALUES (2, N'Non-AC Bus')
INSERT [dbo].[VehicleTypes] ([VehicleTypeId], [VehicleTypeName]) VALUES (4, N'Microbus')
SET IDENTITY_INSERT [dbo].[VehicleTypes] OFF
GO
ALTER TABLE [dbo].[Banner] ADD  DEFAULT (N'') FOR [SizeTemplate]
GO
ALTER TABLE [dbo].[Booking] ADD  DEFAULT ((0.0)) FOR [ProcessingFeeAmount]
GO
ALTER TABLE [dbo].[Booking] ADD  DEFAULT ((0.0)) FOR [VATAmount]
GO
ALTER TABLE [dbo].[Company] ADD  DEFAULT ((0.0)) FOR [TicketBackgroundOpacity]
GO
ALTER TABLE [dbo].[DepartureLocation] ADD  DEFAULT ((0)) FOR [LocationID]
GO
ALTER TABLE [dbo].[DepartureLocation] ADD  DEFAULT ('00:00:00') FOR [Time]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT ((0.0)) FOR [ProcessingFeeAmount]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT ((0.0)) FOR [VATAmount]
GO
ALTER TABLE [dbo].[PaymentMethod] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsActive]
GO
ALTER TABLE [dbo].[PaymentMethod] ADD  DEFAULT ((0.0)) FOR [ProcessingFeePercent]
GO
ALTER TABLE [dbo].[PaymentMethod] ADD  DEFAULT ((0.0)) FOR [VATPercent]
GO
ALTER TABLE [dbo].[SeatPricing] ADD  DEFAULT ((0)) FOR [VehicleId]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ((0)) FOR [FailedLoginAttempts]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsEmailVerified]
GO
ALTER TABLE [dbo].[UserLoginHistory] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[AdminNotificationPreference]  WITH CHECK ADD  CONSTRAINT [FK_AdminNotificationPreference_Company_CompanyId] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Company] ([CompanyID])
GO
ALTER TABLE [dbo].[AdminNotificationPreference] CHECK CONSTRAINT [FK_AdminNotificationPreference_Company_CompanyId]
GO
ALTER TABLE [dbo].[AdminNotificationPreference]  WITH CHECK ADD  CONSTRAINT [FK_AdminNotificationPreference_User_AdminUserId] FOREIGN KEY([AdminUserId])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[AdminNotificationPreference] CHECK CONSTRAINT [FK_AdminNotificationPreference_User_AdminUserId]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_BookingStatuses_BookingStatusId] FOREIGN KEY([BookingStatusId])
REFERENCES [dbo].[BookingStatuses] ([BookingStatusId])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_BookingStatuses_BookingStatusId]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Discount_DiscountID] FOREIGN KEY([DiscountID])
REFERENCES [dbo].[Discount] ([DiscountID])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_Discount_DiscountID]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Schedule_ScheduleID] FOREIGN KEY([ScheduleID])
REFERENCES [dbo].[Schedule] ([ScheduleID])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_Schedule_ScheduleID]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_SeatClasses_SeatClassId] FOREIGN KEY([SeatClassId])
REFERENCES [dbo].[SeatClasses] ([SeatClassId])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_SeatClasses_SeatClassId]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_User_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_User_UserID]
GO
ALTER TABLE [dbo].[BookingSeats]  WITH CHECK ADD  CONSTRAINT [FK_BookingSeats_Booking_BookingId] FOREIGN KEY([BookingId])
REFERENCES [dbo].[Booking] ([BookingID])
GO
ALTER TABLE [dbo].[BookingSeats] CHECK CONSTRAINT [FK_BookingSeats_Booking_BookingId]
GO
ALTER TABLE [dbo].[BookingSeats]  WITH CHECK ADD  CONSTRAINT [FK_BookingSeats_Seat_SeatId] FOREIGN KEY([SeatId])
REFERENCES [dbo].[Seat] ([SeatID])
GO
ALTER TABLE [dbo].[BookingSeats] CHECK CONSTRAINT [FK_BookingSeats_Seat_SeatId]
GO
ALTER TABLE [dbo].[Company]  WITH CHECK ADD  CONSTRAINT [FK_Company_CompanyTypes_CompanyTypeId] FOREIGN KEY([CompanyTypeId])
REFERENCES [dbo].[CompanyTypes] ([CompanyTypeId])
GO
ALTER TABLE [dbo].[Company] CHECK CONSTRAINT [FK_Company_CompanyTypes_CompanyTypeId]
GO
ALTER TABLE [dbo].[DepartureLocation]  WITH CHECK ADD  CONSTRAINT [FK_DepartureLocation_Location_LocationID] FOREIGN KEY([LocationID])
REFERENCES [dbo].[Location] ([LocationID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DepartureLocation] CHECK CONSTRAINT [FK_DepartureLocation_Location_LocationID]
GO
ALTER TABLE [dbo].[DepartureLocation]  WITH CHECK ADD  CONSTRAINT [FK_DepartureLocation_Schedule_ScheduleID] FOREIGN KEY([ScheduleID])
REFERENCES [dbo].[Schedule] ([ScheduleID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DepartureLocation] CHECK CONSTRAINT [FK_DepartureLocation_Schedule_ScheduleID]
GO
ALTER TABLE [dbo].[Discount]  WITH CHECK ADD  CONSTRAINT [FK_Discount_Company_CompanyId] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Company] ([CompanyID])
GO
ALTER TABLE [dbo].[Discount] CHECK CONSTRAINT [FK_Discount_Company_CompanyId]
GO
ALTER TABLE [dbo].[Discount]  WITH CHECK ADD  CONSTRAINT [FK_Discount_DiscountTypes_DiscountTypeId] FOREIGN KEY([DiscountTypeId])
REFERENCES [dbo].[DiscountTypes] ([DiscountTypeId])
GO
ALTER TABLE [dbo].[Discount] CHECK CONSTRAINT [FK_Discount_DiscountTypes_DiscountTypeId]
GO
ALTER TABLE [dbo].[Discount]  WITH CHECK ADD  CONSTRAINT [FK_Discount_Route_RouteId] FOREIGN KEY([RouteId])
REFERENCES [dbo].[Route] ([RouteID])
GO
ALTER TABLE [dbo].[Discount] CHECK CONSTRAINT [FK_Discount_Route_RouteId]
GO
ALTER TABLE [dbo].[Discount]  WITH CHECK ADD  CONSTRAINT [FK_Discount_VehicleTypes_VehicleTypeId] FOREIGN KEY([VehicleTypeId])
REFERENCES [dbo].[VehicleTypes] ([VehicleTypeId])
GO
ALTER TABLE [dbo].[Discount] CHECK CONSTRAINT [FK_Discount_VehicleTypes_VehicleTypeId]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Company_CompanyId] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Company] ([CompanyID])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Company_CompanyId]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_User_UserId]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Booking_BookingId] FOREIGN KEY([BookingId])
REFERENCES [dbo].[Booking] ([BookingID])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_Booking_BookingId]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_PaymentMethod_PaymentMethodId] FOREIGN KEY([PaymentMethodId])
REFERENCES [dbo].[PaymentMethod] ([PaymentMethodId])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_PaymentMethod_PaymentMethodId]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_paymentStatuses_PaymentStatusId] FOREIGN KEY([PaymentStatusId])
REFERENCES [dbo].[paymentStatuses] ([PaymentStatusId])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_paymentStatuses_PaymentStatusId]
GO
ALTER TABLE [dbo].[PaymentCancels]  WITH CHECK ADD  CONSTRAINT [FK_PaymentCancels_Payment_PaymentId] FOREIGN KEY([PaymentId])
REFERENCES [dbo].[Payment] ([PaymentID])
GO
ALTER TABLE [dbo].[PaymentCancels] CHECK CONSTRAINT [FK_PaymentCancels_Payment_PaymentId]
GO
ALTER TABLE [dbo].[Refund]  WITH CHECK ADD  CONSTRAINT [FK_Refund_Booking_BookingId] FOREIGN KEY([BookingId])
REFERENCES [dbo].[Booking] ([BookingID])
GO
ALTER TABLE [dbo].[Refund] CHECK CONSTRAINT [FK_Refund_Booking_BookingId]
GO
ALTER TABLE [dbo].[Refund]  WITH CHECK ADD  CONSTRAINT [FK_Refund_Payment_PaymentId] FOREIGN KEY([PaymentId])
REFERENCES [dbo].[Payment] ([PaymentID])
GO
ALTER TABLE [dbo].[Refund] CHECK CONSTRAINT [FK_Refund_Payment_PaymentId]
GO
ALTER TABLE [dbo].[Refund]  WITH CHECK ADD  CONSTRAINT [FK_Refund_RefundPolicy_PolicyID] FOREIGN KEY([PolicyID])
REFERENCES [dbo].[RefundPolicy] ([PolicyID])
GO
ALTER TABLE [dbo].[Refund] CHECK CONSTRAINT [FK_Refund_RefundPolicy_PolicyID]
GO
ALTER TABLE [dbo].[Refund]  WITH CHECK ADD  CONSTRAINT [FK_Refund_RefundStatuses_RefundStatusId] FOREIGN KEY([RefundStatusId])
REFERENCES [dbo].[RefundStatuses] ([RefundStatusId])
GO
ALTER TABLE [dbo].[Refund] CHECK CONSTRAINT [FK_Refund_RefundStatuses_RefundStatusId]
GO
ALTER TABLE [dbo].[Refund]  WITH CHECK ADD  CONSTRAINT [FK_Refund_User_UpdatedByUserId] FOREIGN KEY([UpdatedByUserId])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Refund] CHECK CONSTRAINT [FK_Refund_User_UpdatedByUserId]
GO
ALTER TABLE [dbo].[RefundPolicy]  WITH CHECK ADD  CONSTRAINT [FK_RefundPolicy_Company_CompanyId] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Company] ([CompanyID])
GO
ALTER TABLE [dbo].[RefundPolicy] CHECK CONSTRAINT [FK_RefundPolicy_Company_CompanyId]
GO
ALTER TABLE [dbo].[Route]  WITH CHECK ADD  CONSTRAINT [FK_Route_Location_FromLocationID] FOREIGN KEY([FromLocationID])
REFERENCES [dbo].[Location] ([LocationID])
GO
ALTER TABLE [dbo].[Route] CHECK CONSTRAINT [FK_Route_Location_FromLocationID]
GO
ALTER TABLE [dbo].[Route]  WITH CHECK ADD  CONSTRAINT [FK_Route_Location_ToLocationID] FOREIGN KEY([ToLocationID])
REFERENCES [dbo].[Location] ([LocationID])
GO
ALTER TABLE [dbo].[Route] CHECK CONSTRAINT [FK_Route_Location_ToLocationID]
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD  CONSTRAINT [FK_Schedule_DriverInformtions_DriverInformtionId] FOREIGN KEY([DriverInformtionId])
REFERENCES [dbo].[DriverInformtions] ([DriverInformtionId])
GO
ALTER TABLE [dbo].[Schedule] CHECK CONSTRAINT [FK_Schedule_DriverInformtions_DriverInformtionId]
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD  CONSTRAINT [FK_Schedule_Route_RouteId] FOREIGN KEY([RouteId])
REFERENCES [dbo].[Route] ([RouteID])
GO
ALTER TABLE [dbo].[Schedule] CHECK CONSTRAINT [FK_Schedule_Route_RouteId]
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD  CONSTRAINT [FK_Schedule_ScheduleStatuses_ScheduleStatusId] FOREIGN KEY([ScheduleStatusId])
REFERENCES [dbo].[ScheduleStatuses] ([ScheduleStatusId])
GO
ALTER TABLE [dbo].[Schedule] CHECK CONSTRAINT [FK_Schedule_ScheduleStatuses_ScheduleStatusId]
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD  CONSTRAINT [FK_Schedule_Supervisors_SupervisorId] FOREIGN KEY([SupervisorId])
REFERENCES [dbo].[Supervisors] ([SupervisorId])
GO
ALTER TABLE [dbo].[Schedule] CHECK CONSTRAINT [FK_Schedule_Supervisors_SupervisorId]
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD  CONSTRAINT [FK_Schedule_Vehicle_VehicleId] FOREIGN KEY([VehicleId])
REFERENCES [dbo].[Vehicle] ([VehicleID])
GO
ALTER TABLE [dbo].[Schedule] CHECK CONSTRAINT [FK_Schedule_Vehicle_VehicleId]
GO
ALTER TABLE [dbo].[ScheduleApplication]  WITH CHECK ADD  CONSTRAINT [FK_ScheduleApplication_Company_CompanyId] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Company] ([CompanyID])
GO
ALTER TABLE [dbo].[ScheduleApplication] CHECK CONSTRAINT [FK_ScheduleApplication_Company_CompanyId]
GO
ALTER TABLE [dbo].[ScheduleApplication]  WITH CHECK ADD  CONSTRAINT [FK_ScheduleApplication_Route_RouteId] FOREIGN KEY([RouteId])
REFERENCES [dbo].[Route] ([RouteID])
GO
ALTER TABLE [dbo].[ScheduleApplication] CHECK CONSTRAINT [FK_ScheduleApplication_Route_RouteId]
GO
ALTER TABLE [dbo].[ScheduleApplication]  WITH CHECK ADD  CONSTRAINT [FK_ScheduleApplication_Schedule_CreatedScheduleId] FOREIGN KEY([CreatedScheduleId])
REFERENCES [dbo].[Schedule] ([ScheduleID])
GO
ALTER TABLE [dbo].[ScheduleApplication] CHECK CONSTRAINT [FK_ScheduleApplication_Schedule_CreatedScheduleId]
GO
ALTER TABLE [dbo].[ScheduleApplication]  WITH CHECK ADD  CONSTRAINT [FK_ScheduleApplication_User_RequesterId] FOREIGN KEY([RequesterId])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[ScheduleApplication] CHECK CONSTRAINT [FK_ScheduleApplication_User_RequesterId]
GO
ALTER TABLE [dbo].[ScheduleApplication]  WITH CHECK ADD  CONSTRAINT [FK_ScheduleApplication_Vehicle_VehicleId] FOREIGN KEY([VehicleId])
REFERENCES [dbo].[Vehicle] ([VehicleID])
GO
ALTER TABLE [dbo].[ScheduleApplication] CHECK CONSTRAINT [FK_ScheduleApplication_Vehicle_VehicleId]
GO
ALTER TABLE [dbo].[ScheduleChatMessage]  WITH CHECK ADD  CONSTRAINT [FK_ScheduleChatMessage_Schedule_ScheduleId] FOREIGN KEY([ScheduleId])
REFERENCES [dbo].[Schedule] ([ScheduleID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ScheduleChatMessage] CHECK CONSTRAINT [FK_ScheduleChatMessage_Schedule_ScheduleId]
GO
ALTER TABLE [dbo].[ScheduleChatMessage]  WITH CHECK ADD  CONSTRAINT [FK_ScheduleChatMessage_User_SenderId] FOREIGN KEY([SenderId])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[ScheduleChatMessage] CHECK CONSTRAINT [FK_ScheduleChatMessage_User_SenderId]
GO
ALTER TABLE [dbo].[ScheduleChatRemovedUser]  WITH CHECK ADD  CONSTRAINT [FK_ScheduleChatRemovedUser_Schedule_ScheduleId] FOREIGN KEY([ScheduleId])
REFERENCES [dbo].[Schedule] ([ScheduleID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ScheduleChatRemovedUser] CHECK CONSTRAINT [FK_ScheduleChatRemovedUser_Schedule_ScheduleId]
GO
ALTER TABLE [dbo].[ScheduleChatRemovedUser]  WITH CHECK ADD  CONSTRAINT [FK_ScheduleChatRemovedUser_User_RemovedByUserId] FOREIGN KEY([RemovedByUserId])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[ScheduleChatRemovedUser] CHECK CONSTRAINT [FK_ScheduleChatRemovedUser_User_RemovedByUserId]
GO
ALTER TABLE [dbo].[ScheduleChatRemovedUser]  WITH CHECK ADD  CONSTRAINT [FK_ScheduleChatRemovedUser_User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[ScheduleChatRemovedUser] CHECK CONSTRAINT [FK_ScheduleChatRemovedUser_User_UserId]
GO
ALTER TABLE [dbo].[ScheduleExchangeRequest]  WITH CHECK ADD  CONSTRAINT [FK_ScheduleExchangeRequest_Schedule_RequesterScheduleId] FOREIGN KEY([RequesterScheduleId])
REFERENCES [dbo].[Schedule] ([ScheduleID])
GO
ALTER TABLE [dbo].[ScheduleExchangeRequest] CHECK CONSTRAINT [FK_ScheduleExchangeRequest_Schedule_RequesterScheduleId]
GO
ALTER TABLE [dbo].[ScheduleExchangeRequest]  WITH CHECK ADD  CONSTRAINT [FK_ScheduleExchangeRequest_Schedule_TargetScheduleId] FOREIGN KEY([TargetScheduleId])
REFERENCES [dbo].[Schedule] ([ScheduleID])
GO
ALTER TABLE [dbo].[ScheduleExchangeRequest] CHECK CONSTRAINT [FK_ScheduleExchangeRequest_Schedule_TargetScheduleId]
GO
ALTER TABLE [dbo].[ScheduleExchangeRequest]  WITH CHECK ADD  CONSTRAINT [FK_ScheduleExchangeRequest_User_RequesterId] FOREIGN KEY([RequesterId])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[ScheduleExchangeRequest] CHECK CONSTRAINT [FK_ScheduleExchangeRequest_User_RequesterId]
GO
ALTER TABLE [dbo].[ScheduleExchangeRequest]  WITH CHECK ADD  CONSTRAINT [FK_ScheduleExchangeRequest_User_TargetUserId] FOREIGN KEY([TargetUserId])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[ScheduleExchangeRequest] CHECK CONSTRAINT [FK_ScheduleExchangeRequest_User_TargetUserId]
GO
ALTER TABLE [dbo].[ScheduleSeatClassPricing]  WITH CHECK ADD  CONSTRAINT [FK_ScheduleSeatClassPricing_Schedule_ScheduleId] FOREIGN KEY([ScheduleId])
REFERENCES [dbo].[Schedule] ([ScheduleID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ScheduleSeatClassPricing] CHECK CONSTRAINT [FK_ScheduleSeatClassPricing_Schedule_ScheduleId]
GO
ALTER TABLE [dbo].[ScheduleSeatClassPricing]  WITH CHECK ADD  CONSTRAINT [FK_ScheduleSeatClassPricing_SeatClasses_SeatClassId] FOREIGN KEY([SeatClassId])
REFERENCES [dbo].[SeatClasses] ([SeatClassId])
GO
ALTER TABLE [dbo].[ScheduleSeatClassPricing] CHECK CONSTRAINT [FK_ScheduleSeatClassPricing_SeatClasses_SeatClassId]
GO
ALTER TABLE [dbo].[ScheduleSeatStatus]  WITH CHECK ADD  CONSTRAINT [FK_ScheduleSeatStatus_Booking_BookingID] FOREIGN KEY([BookingID])
REFERENCES [dbo].[Booking] ([BookingID])
GO
ALTER TABLE [dbo].[ScheduleSeatStatus] CHECK CONSTRAINT [FK_ScheduleSeatStatus_Booking_BookingID]
GO
ALTER TABLE [dbo].[ScheduleSeatStatus]  WITH CHECK ADD  CONSTRAINT [FK_ScheduleSeatStatus_Schedule_ScheduleID] FOREIGN KEY([ScheduleID])
REFERENCES [dbo].[Schedule] ([ScheduleID])
GO
ALTER TABLE [dbo].[ScheduleSeatStatus] CHECK CONSTRAINT [FK_ScheduleSeatStatus_Schedule_ScheduleID]
GO
ALTER TABLE [dbo].[ScheduleSeatStatus]  WITH CHECK ADD  CONSTRAINT [FK_ScheduleSeatStatus_Seat_SeatID] FOREIGN KEY([SeatID])
REFERENCES [dbo].[Seat] ([SeatID])
GO
ALTER TABLE [dbo].[ScheduleSeatStatus] CHECK CONSTRAINT [FK_ScheduleSeatStatus_Seat_SeatID]
GO
ALTER TABLE [dbo].[ScheduleSeatStatus]  WITH CHECK ADD  CONSTRAINT [FK_ScheduleSeatStatus_SeatStatuses_SeatStatusId] FOREIGN KEY([SeatStatusId])
REFERENCES [dbo].[SeatStatuses] ([SeatStatusId])
GO
ALTER TABLE [dbo].[ScheduleSeatStatus] CHECK CONSTRAINT [FK_ScheduleSeatStatus_SeatStatuses_SeatStatusId]
GO
ALTER TABLE [dbo].[Seat]  WITH CHECK ADD  CONSTRAINT [FK_Seat_SeatClasses_SeatClassId] FOREIGN KEY([SeatClassId])
REFERENCES [dbo].[SeatClasses] ([SeatClassId])
GO
ALTER TABLE [dbo].[Seat] CHECK CONSTRAINT [FK_Seat_SeatClasses_SeatClassId]
GO
ALTER TABLE [dbo].[Seat]  WITH CHECK ADD  CONSTRAINT [FK_Seat_Vehicle_VehicleId] FOREIGN KEY([VehicleId])
REFERENCES [dbo].[Vehicle] ([VehicleID])
GO
ALTER TABLE [dbo].[Seat] CHECK CONSTRAINT [FK_Seat_Vehicle_VehicleId]
GO
ALTER TABLE [dbo].[SeatPricing]  WITH CHECK ADD  CONSTRAINT [FK_SeatPricing_SeatClasses_SeatClassId] FOREIGN KEY([SeatClassId])
REFERENCES [dbo].[SeatClasses] ([SeatClassId])
GO
ALTER TABLE [dbo].[SeatPricing] CHECK CONSTRAINT [FK_SeatPricing_SeatClasses_SeatClassId]
GO
ALTER TABLE [dbo].[SeatPricing]  WITH CHECK ADD  CONSTRAINT [FK_SeatPricing_Vehicle_VehicleId] FOREIGN KEY([VehicleId])
REFERENCES [dbo].[Vehicle] ([VehicleID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SeatPricing] CHECK CONSTRAINT [FK_SeatPricing_Vehicle_VehicleId]
GO
ALTER TABLE [dbo].[SupportMessage]  WITH CHECK ADD  CONSTRAINT [FK_SupportMessage_SupportRoom_RoomId] FOREIGN KEY([RoomId])
REFERENCES [dbo].[SupportRoom] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SupportMessage] CHECK CONSTRAINT [FK_SupportMessage_SupportRoom_RoomId]
GO
ALTER TABLE [dbo].[SupportMessage]  WITH CHECK ADD  CONSTRAINT [FK_SupportMessage_User_SenderId] FOREIGN KEY([SenderId])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[SupportMessage] CHECK CONSTRAINT [FK_SupportMessage_User_SenderId]
GO
ALTER TABLE [dbo].[SupportRoom]  WITH CHECK ADD  CONSTRAINT [FK_SupportRoom_User_AssignedAdminId] FOREIGN KEY([AssignedAdminId])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[SupportRoom] CHECK CONSTRAINT [FK_SupportRoom_User_AssignedAdminId]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Booking_BookingId] FOREIGN KEY([BookingId])
REFERENCES [dbo].[Booking] ([BookingID])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Booking_BookingId]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Company_CompanyId] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Company] ([CompanyID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Company_CompanyId]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_DriverInformtions_DriverInformtionId] FOREIGN KEY([DriverInformtionId])
REFERENCES [dbo].[DriverInformtions] ([DriverInformtionId])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_DriverInformtions_DriverInformtionId]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Supervisors_SupervisorId] FOREIGN KEY([SupervisorId])
REFERENCES [dbo].[Supervisors] ([SupervisorId])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Supervisors_SupervisorId]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_UserRoles_RoleID] FOREIGN KEY([RoleID])
REFERENCES [dbo].[UserRoles] ([UserRoleId])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_UserRoles_RoleID]
GO
ALTER TABLE [dbo].[UserLoginHistory]  WITH CHECK ADD  CONSTRAINT [FK_UserLoginHistory_User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserLoginHistory] CHECK CONSTRAINT [FK_UserLoginHistory_User_UserId]
GO
ALTER TABLE [dbo].[Vehicle]  WITH CHECK ADD  CONSTRAINT [FK_Vehicle_Company_CompanyId] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Company] ([CompanyID])
GO
ALTER TABLE [dbo].[Vehicle] CHECK CONSTRAINT [FK_Vehicle_Company_CompanyId]
GO
ALTER TABLE [dbo].[Vehicle]  WITH CHECK ADD  CONSTRAINT [FK_Vehicle_VehicleTypes_VehicleTypeId] FOREIGN KEY([VehicleTypeId])
REFERENCES [dbo].[VehicleTypes] ([VehicleTypeId])
GO
ALTER TABLE [dbo].[Vehicle] CHECK CONSTRAINT [FK_Vehicle_VehicleTypes_VehicleTypeId]
GO
